@model OrderDetailsViewModel

@{
    ViewData["Title"] = "Index";
}
<div class="container p-3">
    <div class = "row pt-4">
        <div class = "col-6">
            <h3 class="text-primary">Order Details</h3>
        </div>
        <div class = "col-6 text-right">
            <a class="btn btn-primary" href="/OrderDetail/Create?orderId=@Model.OrderId">Create New</a>
        </div>
    </div> 
    <hr />
        <table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail.Product.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail.OrderUnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail.OrderQuantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderDetails) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderUnitPrice)
            </td>           
            <td>
                @Html.DisplayFor(modelItem => item.OrderQuantity)
            </td>
            <td class="text-right">
                <a class="btn btn-secondary" href="/OrderDetail/Update?orderDetailId=@item.OrderDetailId">Edit</a>
                <a class="btn btn-info" href="/OrderDetail/Details?orderDetailId=@item.OrderDetailId">View</a>
                <a class="btn btn-danger" href="/OrderDetail/Delete?orderDetailId=@item.OrderDetailId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a class="btn btn-secondary" type="button" href="/Order/Detail?orderId=@Model.OrderId">Back to Order</a>
</div>
    


<style>
    tr.even {
    background-color: #F5F5F5 !important;
}

</style>
@section Scripts{

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable()
        });
    </script>
}