@model Northwind.DataModels.Shipment.OrderDto

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Order</h1>

<h3>Are you sure you want to delete this order?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CustomerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.EmployeeFirstName) and @Html.DisplayNameFor(model => model.Employee.EmployeeLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmployeeFirstName) @Html.DisplayFor(model => model.Employee.EmployeeLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderRequiredDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderRequiredDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderShippedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderShippedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shipper.ShipperName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shipper.ShipperName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderFreight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderFreight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderShipName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderShipName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderShipAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderShipAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderShipCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderShipCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipRegion.RegionDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipRegion.RegionDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderShipPostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderShipPostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderShipCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderShipCountry)
        </dd>
    </dl>
    
    @using (Html.BeginForm()) {
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a class="btn btn-secondary" type="button" asp-action="Index">Cancel</a>
        </div>
        }
</div>
