@model Northwind.DataModels.Employees.EmployeeDto

@{
    ViewData["Title"] = "Details";
}

<h1>View Employee</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeTitleOfCourtesy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeTitleOfCourtesy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeBirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeBirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeHireDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeHireDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeExtension)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeExtension)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeSupervisor.EmployeeFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeSupervisor.EmployeeFirstName)
        </dd>
@*        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeePhotoPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeePhotoPath)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region.RegionDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region.RegionDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeePostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeePostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeePhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeePhone)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" href="/Employee/Update?employeeId=@Model.EmployeeId">Edit</a>
    <a class="btn btn-danger" asp-action="Index">Back</a>
</div>
